.nav2 {
    background-color: #34380a;
    width: 250px;
    padding: 20px;
}

.nav2 ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav2 li{
    display: block;
    margin-bottom: 12px;
}

.nav2 a{
    color: #f2f2f2;
    text-decoration: none;
    padding: 10px;
    width: 100%;
    display: block;
}

.nav2 a:hover{
    background-color: #51580b;
}

.nav2 .login-btn{
    background-color: #fff;
    border: 2px solid #51580b;
    padding: 7px;
    background-color: #51580b;
    color: #f3f3f3;
    width: 100%
}

.nav2 .login-btn:hover{
    background-color: #a4b01cad;
}